@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  
  margin: 0;
  padding:0;
  font-family: "Poppins";
  box-sizing: border-box ;
}
body{
  background-color: grey;
}
#root{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:5px;
  width:90%;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}
.search{
display:flex;
flex-wrap: wrap;
background-color: white;
border-radius: 5px;
width: 100%;
display:flex;
align-items: center;
justify-content: space-between;
}
.search input{
 
  margin: 3px;
  padding:10px;
  border:none;
  background-color: white;
  
}
.search input:focus{
  outline: none;
}
.section{
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  
}
.section h1{
  font-size: 20px;
}
.section p{
  color:grey;
}